<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-12">
        <div class="card m-3">
            <div class="row">
                <div class="col-md-12 text-center p-3">
                    <img src="https://cdn.pixabay.com/photo/2018/08/28/13/29/avatar-3637561_960_720.png" alt="" class="img-fluid" style="width: 100px; height: auto;border-radius: 50%;">
                    <h4 class="mt-3">{{user.name}}</h4>
                    
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5>Email: </h5>
                        <h6>{{user.email}}</h6>
                        <h5>Phone: </h5>
                        <h6>{{user.phone}}</h6>
                        <h5>Address: </h5>
                        <h6>{{user.address}}</h6>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="max-height: 200px;overflow-y: scroll;" *ngIf='user.admin'>
                    <div *ngIf='users.length === 0'>
                        <h6>No Users To Display !</h6>
                    </div>
                    <div *ngIf='users.length > 0'>

                      <div *ngIf='loading text-center'>
                        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
                      </div>
                      <div *ngIf='!loading'>
                    <h5>Users List:</h5>
                  
                   <p *ngFor='let user of users' data-toggle='modal' data-target="#userInfo" (click)='userInfo(user._id)'>
                       <a class="btn-link btn text-primary">
                           {{user.name}}
                       </a>
                   </p>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>{{selectedUser.name}}</h4>
          <h5>Email: </h5>
                        <h6>{{selectedUser.email}}</h6>
                        <h5>Phone: </h5>
                        <h6>{{selectedUser.phone}}</h6>
                        <h5>Address: </h5>
                        <h6>{{selectedUser.address}}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>