<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" (click)='toDashboard($event)'>
       <span class=""> Techify
    </span>
       </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mx-md-5" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#!!" (click)='toDashboard($event)'>Dashboard</a>
        </li>
        <li class="nav-item" (click)='logout()'>
          <a class="nav-link" href="#">Logout</a>
        </li>
        
       
      </ul>
     
    </div>
  </nav>