
<!-- <app-navbar></app-navbar> -->
<div class="row p-5">
    <div class="col-md-12 p-5 text-center">
        <h1 class="text-center my-4 text-dark">
            Techify !
        </h1>
        <div class="card m-md-5">
                <div class="row">
                <div class="col-md-6 gradient text-center pt-md-5">
                    <h3 class="text-white mt-5">
                        Login
                    </h3>
                    <h6 class="pb-5 text-white">
                        To Start Your Session !
                    </h6>
                </div>
                <div class="col-md-6 text-center p-md-5">
                   <form [formGroup]='login'>
                       <div class="form-group">
                           <input formControlName='email' type="text" placeholder="Email" class="form-control">
                       </div>
                       <div class="form-group">
                           <input formControlName='password' type="password" placeholder="Password" class="form-control">
                       </div>
                   </form>
                   <button class="btn btn-block btn-dark" (click)='loginData()'>Login</button>
                   <a class="btn btn-link text-primary mt-3" data-toggle="modal" data-target="#login">
                       Not a User .? Register !
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]='register'>
              <div class="form-group">
                  <input type="text" placeholder="Name" formControlName='name' class="form-control">
                  <span class="text-danger" style="font-size: 15px;"
                  *ngIf="name.invalid && name.errors.required && name.touched">Name is required.</span>
            
              </div>
              <div class="form-group">
                  <input type="text" placeholder="email" formControlName='email' class="form-control">
                  <span class="text-danger" style="font-size: 15px;"
                  *ngIf="email.invalid && email.errors.required && email.touched">Email is required.</span>
            <span class="text-danger" style="font-size: 15px;" *ngIf="email.invalid && email.errors.pattern">Email Is NOt Valid</span>
              </div>
              <div class="form-group">
                  <input type="password" placeholder="password" formControlName='password' class="form-control">
                  <span class="text-danger" style="font-size: 15px;"
                  *ngIf="password.invalid && password.errors.required && password.touched">password is required.</span>
            <span class="text-danger" style="font-size: 15px;" *ngIf="password.invalid && password.errors.pattern">Password should be combination of uppercase , lowercase , special character and should be 8 characters long</span>
              </div>
              <div class="form-group">
                  <input type="password" formControlName='cpassword' placeholder="Confirm Password" class="form-control">
              </div>
              <div class="form-group">
                  <input type="text" formControlName='phone' placeholder="Phone" class="form-control" required>
                  <span class="text-danger" style="font-size: 15px;"
                  *ngIf="phone.invalid && phone.errors.required && phone.touched">Phone is required.</span>
            <span class="text-danger" style="font-size: 15px;" *ngIf="phone.invalid && phone.errors.minlength">10 characters required</span>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Address" formControlName='address' class="form-control">
                  <span class="text-danger" style="font-size: 15px;"
                  *ngIf="address.invalid && address.errors.required && address.touched">Address is required.</span>
            <span class="text-danger" style="font-size: 15px;" *ngIf="address.invalid && address.errors.minlength">Minimum 10 characters required</span>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]='!register.valid' (click)='registerUser()'>Register</button>
          <button type="button" id='cancelModal' class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>